.p-s {
    padding: $spacesm;
}

.p-m {
    padding: $spacemd;
}

.p-l {
    padding: $spacelg;
}

.p-xl {
    padding: $spacexl;
}

.p-xxl {
    padding: $spacexxl;
}

.p-b-s {
    padding-bottom: $spacesm;
}

.p-b-m {
    padding-bottom: $spacemd;
}

.p-b-l {
    padding-bottom: $spacelg;
}

.p-b-xl {
    padding-bottom: $spacexl;
}

.p-b-xxl {
    padding-bottom: $spacexxl;
}

.p-t-s {
    padding-top: $spacesm;
}

.p-t-m {
    padding-top: $spacemd;
}

.p-t-l {
    padding-top: $spacelg;
}

.p-t-xl {
    padding-top: $spacexl;
}

.p-t-xxl {
    padding-top: $spacexxl;
}

.p-l-s {
    padding-left: $spacesm;
}

.p-l-m {
    padding-left: $spacemd;
}

.p-l-l {
    padding-left: $spacelg;
}

.p-l-xl {
    padding-left: $spacexl;
}

.p-l-xxl {
    padding-left: $spacexxl;
}

.p-r-s {
    padding-right: $spacesm;
}

.p-r-m {
    padding-right: $spacemd;
}

.p-r-l {
    padding-right: $spacelg;
}

.p-r-xl {
    padding-right: $spacexl;
}

.p-r-xxl {
    padding-right: $spacexxl;
}

.m-s {
    margin: $spacesm;
}

.m-m {
    margin: $spacemd;
}

.m-l {
    margin: $spacelg;
}

.m-xl {
    margin: $spacexl;
}

.m-xxl {
    margin: $spacexxl;
}

.m-b-s {
    margin-bottom: $spacesm;
}

.m-b-m {
    margin-bottom: $spacemd;
}

.m-b-l {
    margin-bottom: $spacelg;
}

.m-b-xl {
    margin-bottom: $spacexl;
}

.m-b-xxl {
    margin-bottom: $spacexxl;
}

.m-t-s {
    margin-top: $spacesm;
}

.m-t-m {
    margin-top: $spacemd;
}

.m-t-l {
    margin-top: $spacelg;
}

.m-t-xl {
    margin-top: $spacexl;
}

.m-t-xxl {
    margin-top: $spacexxl;
}

.m-l-s {
    margin-left: $spacesm;
}

.m-l-m {
    margin-left: $spacemd;
}

.m-l-l {
    margin-left: $spacelg;
}

.m-l-xl {
    margin-left: $spacexl;
}

.m-l-xxl {
    margin-left: $spacexxl;
}

.m-r-s {
    margin-right: $spacesm;
}

.m-r-m {
    margin-right: $spacemd;
}

.m-r-l {
    margin-right: $spacelg;
}

.m-r-xl {
    margin-right: $spacexl;
}

.m-r-xxl {
    margin-right: $spacexxl;
}

.one-quarter {
    width: 25%;
}

.one-third {
    width: 33%;
}

.one-half {
    width: 50%;
}

.two-thirds {
    width: 66%;
}

.three-quarters {
    width: 75%;
}

.full {
    width: 100%;
}

.one-quarter-vert {
    height: 25%;
}

.one-third-vert {
    height: 33%;
}

.one-half-vert {
    height: 50%;
}

.two-thirds-vert {
    height: 66%;
}

.three-quarters-vert {
    height: 75%;
}

.full-vert {
    height: 100%;
}