@charset "UTF-8";
@font-face {
  font-family: 'Ogg-Regular';
  src: url("./Ogg-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Ogg-Italic';
  src: url("OggTextBookItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'ry';
  src: url("Ogg-Roman.woff2") format("woff2"); }
@font-face {
  font-family: 'Univers';
  src: url("3562B4_2_0.woff2") format("woff2");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Univers Condensed Bold';
  src: url("UniversCondensedBold.woff2") format("woff2"); }
@font-face {
  font-family: 'Univers Condensed Light';
  src: url("UniversCondensedLight.woff2") format("woff2"); }
@font-face {
  font-family: 'Univers Condensed Regular';
  src: url("UniversCondensedRegular.woff2") format("woff2"); }
@font-face {
  font-family: 'Univers Extended Bold';
  src: url("UniversExtBold.woff2") format("woff2");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Univers Extended Regular';
  src: url("UniversExtendedRegular.woff2") format("woff2");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Univers Extended Black';
  src: url("UniversExtBlack.woff2") format("woff2");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Univers 45 light';
  src: url("Univers-45-light.woff2") format("woff2");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Ogg Book Italic';
  src: url("OggTextBookItalic.woff2") format("woff2");
  /* IE9 Compat Modes */ }

.font-primary {
    font-family: 'Ogg-Regular';
}

.font-primary-italic {
    font-family: 'Ogg-Italic';
}

.font-secondary {
    font-family: 'Univers';
}

.text {
    font-size: $fontdef;
}

.text-xxs {
    font-size: $fontxxs;
}

.text-xs {
    font-size: $fontxs;
}

.text-sm {
    font-size: $fontsm;
}

.text-md {
    font-size: $fontmd;
}

.text-lg {
    font-size: $fontlg;
}

.text-xl {
    font-size: $fontxl;
}

.text-xxl {
    font-size: $fontxxl;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.bold {
    font-weight: bold;
}